@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #bbcdcd;
}

.Wrapper {
    display: grid;
    grid-template-columns: repeat(2, 400px);
    justify-content: center;
}

.login__img-container {
    width: 400px;
    height: 500px;
    border-radius: 0 1rem;
}

.login__img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 1rem 0 0 1rem;

}

.WrapperForm {

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 500px;
    background: #d8e4e4;
    border-radius: 0 1rem 1rem 0;
    z-index: 1;
}

.WrapperForm h2 {
    font-size: 2em;
    text-align: center;
    color: #000;
}

.Input-box {
    position: relative;
    width: 320px;
    margin: 30px 0;
}

.Input-box input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: 2px solid #333;
    outline: none;
    border-radius: 5px;
    font-size: 1em;
    color: #333;
    padding: 0 10px 0 35px;
}

.Input-box input:focus-within,
.Input-box input:hover {
    border: 2px solid #333;
    box-shadow: 0 0 5px #000;
}

.WrapperForm .Input-box:hover .Icon {
    color: #000;
}

.Input-box input::placeholder {
    color: rgba(255, 255, 255, 0.3);
}

.Input-box .Icon {
    position: absolute;
    left: 10px;
    color: #000;
    font-size: 1.2em;
    line-height: 55px;
}

.Forgot-pass {
    margin: -15px 0 15px;
}

.Forgot-pass a {
    color: #000;
    font-size: .9em;
    text-decoration: none;
}

.Forgot-pass a:hover {
    text-decoration: underline;
}

button {
    position: relative;
    width: 100%;
    height: 45px;
    background: #333;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
}

.WrapperForm button:hover {
    background: #000;
}

.Register-link {
    font-size: .9em;
    text-align: center;
    margin: 25px 0;
}

.Register-link p {
    color: #000;
}

.Register-link p a {
    color: #333;
    text-decoration: none;
    font-weight: 600;
}

.Register-link p a:hover {
    text-decoration: underline;
}

.WrapperForm:hover .Register-link p a {
    color: #000;
}